$awalmula-color: #476040;

.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px $awalmula-color solid;
    height: 50px;
    z-index: 999;
    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        color: #000;
    }

    .cart{
        position: absolute;
        right: 7rem;
        z-index: 90;
        cursor: pointer;

        .cart-button{
            z-index: 89;
            .cart-number-round{
                border: 1px solid;
                text-align: center;
                border-radius: 25px;
                position: absolute;
                width: 80%;
                background: white;
                right: -10px;
                font-size: 12px;
                bottom: -5px;
            }
    
            .fas.fa-shopping-cart{
                font-size: 1.5rem;
            }
        }
    }

    .header-logo{
        background: url(../../assets/image/awalmula-logo-beta.png) no-repeat;
        background-position: center center;
        background-size: 125px auto;
        width: 145px;
        height: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        z-index: 999;

        a{
            display: block;
            height: 100%;
        }
    }

    ul{
        list-style: none;
    }
}