.detail-wrapper{
    width: 90%;
    margin: 20px auto;
    display: flex;
    background: #fff;
    border-radius: 10px;

    .slider-carousel{
        margin: 10px;
        width: 29%;

        .detail-button{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 70%;

            button{
                padding: .5rem 2rem;
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 681px) {
        .slider-carousel{
            width: 39%;
        }
    }

    .detail{
        margin: 10px;
    }
}