body{
    font-family: 'Nunito SemiBold';
    background: #f6f6f6;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Nunito SemiBold';
    src: local('Nunito SemiBold'), url(./assets/font/Nunito-SemiBold.ttf) format('truetype');
}